/* GDA-TOAST */
.gda-toast {
    position: fixed;
    width: 320px;
    padding: 1rem;
    z-index: 10000;
}

.gda-toast-top-left {
    top: 1rem;
    left: 1rem;
}

.gda-toast-top-center {
    top: 1rem;
    left: calc(50% - 160px);
}

.gda-toast-top-right {
    top: 1rem;
    right: 1rem;
}

.gda-toast-bottom-left {
    left: 1rem;
    bottom: 1rem;
}

.gda-toast-bottom-center {
    left: calc(50% - 160px);
    bottom: 1rem;
}

.gda-toast-bottom-right {
    right: 1rem;
    bottom: 1rem;
}

.gda-toast-item {
    position: relative;
    float: left;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    box-shadow: 5px 5px 6px #888;
    overflow: hidden;
    cursor: pointer;
}

/* GDA-TOOLTIP */
.gda-tooltip-animation-scale {
    -webkit-animation-name: scale;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: scale;
    animation-duration: 1s;
}

.gda-tooltip-animation--reverse {
    -webkit-animation-name: scaleReverse;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: scaleReverse;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

/* Standard syntax */

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes scaleReverse {
    from {
        -webkit-transform: scale(1);
    }

    to {
        -webkit-transform: scale(0);
    }
}

/* Standard syntax */

@keyframes scaleReverse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

