/* GDA SIDENAV */
.gda-sidenav {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.gda-sidenav .gda-sidenav-header {
    position: absolute;
    display: flex;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 20;
}

.gda-sidenav .backdoor {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 19;
}

.gda-sidenav .gda-container-header {
    position: relative;
}

.gda-sidenav .gda-sidenav-container {
    position: relative;
    width: 100%;
}

